body{
	background: none;
}
.page-wrapper{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.login-right{
	position: absolute;
    width: 450px;
    height: 100%;
    top: 0;
    right: 0;
    background: #fff;
}
.background-left{
	position: absolute;
	top:0;
	left: 0;
	right: 450px;
	bottom: 0px;
	background: url("../images/img_login_page.png");
}
.login-wrapper{
	width: 370px;
    height: 400px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 27px 0px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    z-index: 1;
}
.login-text{
	text-align: center;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 15px;
    margin-bottom: 30px;
    color: #40454F;
}
.sui-form .control-group.login-input{
	position: relative;
	width: 100%;
    margin-bottom: 18px;
	
}
.input-wrapper{
    width: 100%;
    box-sizing: border-box;
}
.sui-form input[type="text"],.sui-form input[type="password"]{
	width: 100%;
    box-sizing: border-box;
    height: 61px;
    padding-left: 69px;
    font-size: 15px;
    background: #F1F2F7;
    border: none;
    box-shadow: none;
    color: #55617D;
}
.input-wrapper:before{
    position: absolute;
    content: '';
    width: 61px;
    height: 61px;
    left: 0;
    top: 0px;
    background-position: center;
}
.input-wrapper.login-account:before{
    background-image: url("../images/ic_user.png");
    background-repeat: no-repeat;
}
.input-wrapper.login-pw:before{
     background-image: url("../images/ic_password.png");
    background-repeat: no-repeat;
}
.input-wrapper.login-yzm:before{
     background-image: url("../images/ic_code.png");
    background-repeat: no-repeat;
}
.fs16{
	font-size: 16px;
}
.fr{
	float: right;
}
.login-fpw{
	color: #0c5097;
}
a:hover, a:focus {
    color: #2377ce;
    text-decoration: underline;
}
.sui-form .control-group.login-cb{
	margin-top: 7px;
	margin-bottom: 19px;
}
.login-btn{
	width: 100%;
    height: 61px;
    background-color: #1a88e4;
    font-size: 18px;
    letter-spacing: 8px;
    margin-top: 8px;
}
.yzm-btn{
    width: 39%;
    height: 61px;
    background-color: #fff;
    font-size: 15px;
    float: right;
}

/*登录页logo*/
.bszk-logo-wrapper{
	float: right;
    margin-top: 60px;
    margin-right: 40px;
    text-align: right;
}
.bszk-logo{
	width: 300px;
    height: 66.7px;
    margin-bottom: 20.3px;
    display: inline-block;
    background: url("../images/logo_login_page.png") no-repeat;
}
.bszk-logo-text{
	font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 3px;
    line-height: 36px;
}
.bszk-logo-text-sm{
	position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    opacity: 0.6;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.44px;
}
.login-bg-sm{
	width: 100%;
    height: 251px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../images/bg_login.png");
    z-index: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
